.letra {
    margin-top: -50px;
    width: 100%;
    height: 110vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letra-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-letra {
    width: 300px;
    filter: grayscale(100%) drop-shadow(25px 25px 15px rgb(121, 40, 168)) opacity(30%);
}

.contenido {
    color: rgb(235, 235, 235);
    width: 50%;
    height: 100px;
    background: transparent;
    position: absolute;
}

.contenido h2 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 80px;
    /* margin-left: 190px; */
}

.welcome {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-left: 300px; */
    margin-top: -90px;
    width: 100%;
    height: 20px;

    
}

.welcome h1 {
    float: left;
    font-size: 14px;
    position: relative;
}

.welcome h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: #222;
    border-left: 1px solid #222;
    animation: maquina 3s infinite alternate steps(9);
}

@keyframes maquina {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}


@media (max-width: 768px) {
    .letra {
        margin:auto;
        padding: 100px;
        width: 100%;
        height: 110vh;
        background: #222;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-letra {
        width: 250px;
        filter: grayscale(100%) drop-shadow(25px 25px 15px rgb(121, 40, 168)) opacity(30%);
    }

    .contenido {
        color: rgb(235, 235, 235);
        width: 100%;
        height: 100px;
        background: transparent;
        position: absolute;
    }
    
    .contenido h2 {
        display: flex;
        justify-content: center;
        font-size: large;
        margin-top: 115px;
    }

    .welcome {
        margin-left: 150px;
        margin-top: -90px;
        width: 100px;
        height: 20px;
    
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .contenido h2 {
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: xx-large;
        margin: 80px;
        /* margin-left: 190px; */
    }
    .welcome {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        /* margin-left: 300px; */
        margin-top: -90px;
        width: 25%;
        height: 20px;
    
        
    }

} 