* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
  /* border: 2px solid red; */
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translate(0);
  }
}








/* contenido-4 */
.contenido4 {
  padding: 50px;
  text-align: center;

  width: 100%;
  height: 100vh;
  display: flex;
  background: #222;
  color: #fff;

  align-items: center;
}

.icon {
  margin-top: 100px;
  width: 50%;
  height: 200px;
  display: inline-block;
  margin: auto;
  padding: 20px;
  align-items: center;
  /* justify-content: center;
    align-items: center; */
}


.icon h5 {
  margin: auto;
  margin-top: 10px;
  color: #fff;
  font-size: 34px;
  margin-bottom: 50px;
  width: 100%;
  height: 50px;

  font-weight: bold;
}

i {
  color: rgb(172, 169, 172);
  margin: auto;
  margin-top: 20px;

  display: flex;

  width: 100%;
  height: 10px;
  margin-bottom: 5px;
}

.icon p {
  width: 50%;
  text-align: center;
  /* display: flex; */
  margin: auto;
  margin-bottom: 20px;
  /* margin-left: 215px */
}


@media (max-width: 768px) {
    
  
  .contenido4 {
    padding: 50px;
    text-align: center;
    
    width: 100%;
    height: 100vh;
    display: flex;
    background: #222;
    color: #fff;
  
    align-items: center;
  }
  

  .icon p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
   
  }

  
  
  
  
}

  
  
